﻿/********************

    Custom Style

********************/
.flik-content {
  width: 100%;
  height: 100%; }
  .flik-content a {
    color: #CFEFFF;
    text-decoration: none; }
  .flik-content a:hover {
    text-decoration: underline; }

.flik-container {
  overflow: hidden; }

.flik-iframe {
  margin: 10px 0; }

.flik-slider-container {
  width: 100%;
  margin: 10px auto;
  overflow: hidden;
  position: relative; }
  .flik-slider-container ul.flik-slider {
    overflow: hidden; }
    .flik-slider-container ul.flik-slider li {
      float: left; }
      .flik-slider-container ul.flik-slider li img {
        width: 500px;
        height: 200px; }
  .flik-slider-container .slider-controls {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex; }
    .flik-slider-container .slider-controls .prev, .flik-slider-container .slider-controls .next {
      width: 50%;
      color: #fff; }
      .flik-slider-container .slider-controls .prev span, .flik-slider-container .slider-controls .next span {
        position: absolute;
        top: 40%;
        padding: 5px; }
    .flik-slider-container .slider-controls .next {
      text-align: right;
      padding-right: 20px; }
    .flik-slider-container .slider-controls .prev:hover span, .flik-slider-container .slider-controls .next:hover span {
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer; }

.flik-thumbnails {
  margin-top: 10px; }
  .flik-thumbnails ul {
    display: inline-block; }
    .flik-thumbnails ul li {
      display: inline-block;
      vertical-align: text-top;
      margin: 3px; }
      .flik-thumbnails ul li img {
        cursor: pointer;
        width: 100px; }

.is-hidden {
  visibility: hidden; }

.bounce-effect {
  visibility: visible;
  -webkit-animation: bounce-1 0.6s;
  -moz-animation: bounce-1 0.6s;
  -o-animation: bounce-1 0.6s;
  animation: bounce-1 0.6s; }

.slide-down-up-effect {
  visibility: visible;
  -webkit-animation: slide-down-up 0.6s;
  -moz-animation: slide-down-up 0.6s;
  -o-animation: slide-down-up 0.6s;
  animation: slide-down-up 0.6s; }

.slide-right-left-effect {
  visibility: visible;
  -webkit-animation: slide-right-left 0.6s;
  -moz-animation: slide-right-left 0.6s;
  -o-animation: slide-right-left 0.6s;
  animation: slide-right-left 0.6s; }

.slide-left-right-effect {
  visibility: visible;
  -webkit-animation: slide-left-right 0.6s;
  -moz-animation: slide-left-right 0.6s;
  -o-animation: slide-left-right 0.6s;
  animation: slide-left-right 0.6s; }

.default-effect {
  visibility: visible;
  -moz-animation: default-effect 0.6s ease-in-out;
  -o-animation: default-effect 0.6s ease-in-out;
  -webkit-animation: default-effect 0.6s ease-in-out;
  animation: default-effect 0.6s ease-in-out; }

.flik-timeline-1 {
  border-left: 4px solid #003992;
  font-family: 'Lato' , "Open Sans" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , sans-serif ;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #333;

  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  max-width: 60%; }
  .flik-timeline-1 h1,
  .flik-timeline-1 h2,
  .flik-timeline-1 h3 {
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 1.4em; }
  .flik-timeline-1 .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
   }
   .flik-timeline-1 .event .event-content {
      margin-top: 10px; }
  .flik-timeline-1 .event span {
	  color:#666;
	  font-size: .9em;
	  margin-bottom: 20px;
	  display: block;
  }
  .flik-timeline-1 .event img {
  }
  .flik-timeline-1 .event p {
	  font-size: 1em;
  }
  .flik-timeline-1 .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none; }
  .flik-timeline-1 .event:before,
  .flik-timeline-1 .event:after {
    position: absolute;
    display: block;
    top: 0; }
  .flik-timeline-1 .event:before {
    left: -217.5px;
    color: #003992;
    content: attr(data-date);
    text-align: right;
    font-weight: 900;
    font-size: 2em;
    min-width: 120px; }
  .flik-timeline-1 .event:after {
    left: -60px;
    background: #003992;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    content: "";
    top: 5px; }
  @media only screen and (max-width: 959px) {
    .flik-timeline-1 {
      max-width: 85%;
      margin: 25px; }
      .flik-timeline-1 .event-content:before {
        content: attr(data-date);
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px; }
      .flik-timeline-1 .event:before {
        content: ''; } }

.flik-timeline-dates {
  margin-top: 40px; }
  .flik-timeline-dates ul {
    height: 6px;
    width: 70%;
    background: white;
    border-radius: 5px;
    margin: auto;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative; }
    .flik-timeline-dates ul li {
      width: 18px;
      height: 18px;
      background: #c22137;
      border-radius: 15px;
      position: absolute;
      top: -6px;
      border: 3px solid white;
      cursor: pointer; }
      .flik-timeline-dates ul li:before {
        content: '';
        width: 10px;
        height: 10px;
        background: white;
        position: absolute;
        border-radius: 100%;
        top: 1px;
        left: 1px;
        display: none; }
      .flik-timeline-dates ul li .popupSpan {
        width: auto;
        height: auto;
        padding: 10px;
        white-space: nowrap;
        color: white;
        position: absolute;
        top: 20px;
        left: -75px;
        display: none;
        -moz-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out; }
      .flik-timeline-dates ul li.hover:before, .flik-timeline-dates ul li.active:before {
        display: block; }
      .flik-timeline-dates ul li.hover .popupSpan, .flik-timeline-dates ul li.active .popupSpan {
        display: block; }
      .flik-timeline-dates ul li.active .popupSpan {
        top: -40px; }

/********************

    SCROLL EFFECTS

********************/
@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }

@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes slide-down-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transform: translateY(20px); }
  60% {
    opacity: 1;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-right-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slide-left-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes default-effect {
  0% {
    -moz-perspective: 150;
    -webkit-perspective: 150;
    -ms-perspective: 150;
    perspective: 150;
    -moz-transform: rotateX(15deg);
    -ms-transform: rotateX(15deg);
    -o-transform: rotateX(15deg);
    -webkit-transform: rotateX(15deg);
    transform: rotateX(15deg);
    opacity: 0;
    filter: alpha(opacity=0); }
  60% {
    -moz-transform: rotateX(7deg);
    -ms-transform: rotateX(7deg);
    -o-transform: rotateX(7deg);
    -webkit-transform: rotateX(7deg);
    transform: rotateX(7deg);
    opacity: 1;
    filter: alpha(opacity=100); }
  100% {
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    -webkit-transform: rotateX(0);
    transform: rotateX(0); } }

