@charset "UTF-8";
/*--------------------------------------
	index
		0.common
		1.top
		2.top
		3.mission
		4.technology
		5.history
		6.team
		7.partner
		8.support
		9.supporters
		10.contact
		11.util
		12.module
		13.archive(v2 post)
--------------------------------------*/

/*--------------------------------------
	0.common
--------------------------------------*/

body {
	font-family: 'Lato' , "Open Sans" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , sans-serif ;
	letter-spacing: .01em;
}
header .navbar-brand {
	padding:12px 0 8px 5px;
}
header .navbar-brand img {
	height:30px;
}


/*---nav---*/
.navbar-nav li a:after {
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #333;
    margin: 2px auto 0;
    transition: .25s ease-out;
    -webkit-transition: .25s ease-out;
    -moz-transition: .25s ease-out;
    -o-transition: .25s ease-out;
    -ms-transition: .25s ease-out;
}
.navbar-nav li a:hover:after {
    width: 100%;
}
.navbar-nav li a {
	padding:15px 10px;
}
.navbar-nav li a.miniBtn {
	padding:15px 5px;
}
.navbar-nav li a.miniBtn i {
	width:1em;
}

footer {
	background-color: #252528;
	min-height:300px;
	text-align: center;
	padding-top: 40px;
}
.footer-nav .row li {
	display:inline;
	margin-right: 15px; 
}
.footer-nav a {
	color:#fff;
}
.footer-nav a:hover {
	color:#D0D8DE;
}
.sub-link {
	margin-top: 20px;
}
@media screen and (min-width: 768px) {
	.sub-link li {
		display: inline;
	}
}
footer .credit {
	margin-top: 80px;
}
footer .credit img {
	width:80px;
	margin-top: 30px;
}


/*---CTA---*/
.cta {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/top-partnerbanner2.jpg"); 
	padding: 60px 0 90px 0;
	background-color: #D0D8DE;
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
	border-bottom:8px solid #000;
}
.cta h2 {
	text-align: center;
}
.cta h3 {
	font-size: 1.75rem;
	font-weight: 300;
	color: #333;
	line-height: 1.4em;
}
.cta a  {
	background-color: #000;
	color:#fff;
	padding: 40px 0;
}
.cta a:hover {
	color:#fff;
	background-color:#CB282E; 
}

/*---partner_banner---*/
.partner-banner {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/banner_bg.png");
	background-color: #f2f2f2;
	background-size: auto; 
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
	padding:30px !important;
}


/*--------------------------------------
	1.top
--------------------------------------*/

#top section:not(.cta) { 
	padding: 40px 0;
	text-align: center;
	border-bottom:8px solid #000;
}
#top section:not(.cta) h2 {
	position: relative;
	font-size:4rem;
	font-weight: 900;
	letter-spacing: .12em;
	display: inline-block;
	padding-bottom: 6px;
	margin-bottom: 20px;
}
#top section:not(.cta) h2:after {
	content:'';
	position: absolute;
	right:0;
	bottom:0;
	left:0;
	border-bottom: 6px solid #333;
}
#top section:not(.cta) h2.white {
	color:#ffffff;
}
#top section:not(.cta) h2.white:after {
	border-color: #fff;
}
#top section:not(.cta) h3 {
	font-size: 1.8rem;
	line-height: 1.65em;
	color:#333;
	font-weight: 600
}
#top section:not(.cta) p {
	font-size: 1.8rem;
	line-height: 1.65em;
	color:#333;
	padding:0 40px;
}

#top .cover {
	min-height: 100vh !important;
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/header.jpg"); 
	background-size: cover; 
	background-position: center center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}
#top .cover h1 {
	padding-top: 50px;
	text-align: center;
}
#top .cover h1 img {
	margin: 0 auto;
}
#top .cover .hero {
	padding-top: 75px;
	padding-left: 150px;
	text-align: left;
}
@media screen and (max-width: 992px) {
	#top .cover .hero {
		padding-top: 75px;
		padding-left: 30px;
		text-align: left;
	}
}
#top .cover .hero img {
	margin-bottom: 3px;
}
#top .cover .enCover {
	margin-top: 80px;
    padding-left: 120px;
}
@media screen and (max-width: 768px) {
    #top .cover .enCover {
        padding-left: 0px;
        font-size: .9em;
    }
}
#top section:not(.cta) .enCover{
    text-align: left;
}
#top .cover .enCopy {
	font-weight: bold;
	font-size: 1.4em;
	background: #fff;
	display: inline;
	padding: 0;
    text-align: left;
	line-height: 1.8em;
}
@media screen and (max-width: 768px) {
	#top .cover {
		background: url("http://hakuto-web-v3.s3.amazonaws.com/img/sp-cover.jpg");
		background-position: center center;
		background-attachment: scroll;
	}
	#top .cover h1 {
		margin-top: 160px;
	}
}
#top .cover .cover-logo {
	margin-top: 15px;
}
#top .enCover .cover-logo {
	margin-top: 40px;
}
#top .top-banner {
	padding:10px 0 !important;
	background: #000000;
}
@media screen and (max-width: 768px) {
	#top .top-banner {
		padding:40px 0 !important;
		background: #000000;
	}
}
#top .top-banner .banner-bg {
	position: relative;
	
}
#top .top-banner .banner-bg a {
	position: absolute;
	right: 0;
	bottom: 20px;
	padding:20px 35px;
	background: #000;
	color:#fff;
	border: 2px solid #fff;
	text-decoration: none;
}

#top .mission {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/top-mission.jpg"); 
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}
#top .mission ul {
	margin-top: 60px;
}
#top .mission li {
	margin-bottom: 40px;
}
#top .top-three .col {
	padding:0;
	background-color: #000;
}
#top .top-three .row {
	margin: 0;
}
#top .technology {
	background-color: #000;
}
#top .history {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/top-history.png") #ffffff; 
	background-size: cover; 
	background-position: center;
    background-repeat: no-repeat;
	overflow: hidden;
}
#top .team {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/top-team.jpg") #000000; 
	background-size: cover; 
	background-position: center;
    background-repeat: no-repeat;
	overflow: hidden;
}
#top .hsc {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/top-hsc.jpg") #000000; 
	background-size: cover; 
	background-position: center top;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
	text-align: center;
}
#top .hsc .card {
	margin-bottom: 40px;
}
#top .hsc .col i {
	display: block;
	font-size: 5em;
	text-align: center;
}
#top .hsc h3 {
	border: 4px solid #333;
	padding: 5px 10px;
	display: inline-block;
	background-color: rgba(255,255,255,0.4);
}
#top .partner {
	background-color:#fff;
}
#top .partner .p1 h3 {
	margin-bottom: 50px;
}
#top .partner .p1 h3,
#top .partner .p2 h3 {
	font-size: 1.5em;
	margin-top: 20px;
}
#top .partner p {
	margin-bottom: 40px;
}
#top .partner h3 {
	text-align: center;
	margin-bottom: 30px;
    margin-top: 70px;
    font-weight: normal;
}
#top .partner .p3 h3:before,
#top .partner .p3 h3:after {
	content: '';
	display: inline-block;
	width:200px;
	height:1px;
	margin: 0 20px;
	background-color: #000;
	vertical-align: middle;
}
@media screen and ( max-width: 768px ) {
	#top .partner .p3 h3:before,
	#top .partner .p3 h3:after {
		display: block;
		width:90%;
		margin: 10px auto;
	}
}

/*---partner---*/

#top .partner-list div {
	text-align: center;
	margin-bottom: 30px;
}
#top .partner-list a {
	text-decoration: none;
}


/*---top_common---*/
.next-btn {
	margin:20px 0;
	background-color: #ffffff;
}
.next-btn i {
	font-size: 3rem;
	padding:1.7rem 3rem 1.4rem 3rem;
}


/*--------------------------------------
	2.subpage
--------------------------------------*/
.subpage {
	padding-top:40px;
}
.subpage p {
	line-height: 1.7em;
	font-size: 130%;
}
.subpage section:not(.cta) { 
	padding: 80px 0;
	text-align: center;
	border-bottom:8px solid #000;
}
.subpage section:not(.cta) h2 {
	position: relative;
	font-size:4rem;
	font-weight: 900;
	letter-spacing: .12em;
	display: inline-block;
	padding-bottom: 6px;
	margin-bottom: 20px;
}
.subpage section:not(.cta) h2:after {
	content:'';
	position: absolute;
	right:0;
	bottom:0;
	left:0;
	border-bottom: 6px solid #333;
}
.subpage .description {
	color:#ffffff;
	margin-top: 40px;
}
.subpage section:not(.cta) h2.white {
	color:#ffffff;
}
.subpage section:not(.cta) h2.white:after {
	border-color: #fff;
}


/*--------------------------------------
    3.mission
--------------------------------------*/

/*---mission---*/
#mission .mission {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/top-mission.jpg"); 
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}
#mission .mission ul {
	margin-top: 60px;
}
#mission .mission li {
	margin-bottom: 55px;
}
#mission .mission li p {
	width:72%;
	text-align: left;
	font-size: 110%;
	margin-top: 15px;
}
#mission .missionStep {
	color:#ffffff;
}

/*---glxp---*/
#mission .glxp {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/mission/map_bg.png") no-repeat center center #00082D; 
}
#mission .glxp h2:after {
	border:none;
}
#mission .glxp .laedText {
	color:#ffffff;
	font-size: 170%;
	margin-bottom: 80px;
}
.enPage #mission .glxp .laedText {
    text-align: left;
}


/*---glxpTeam---*/
.glxpTeam {
	color:#ffffff;
}

.glxpTeam .carousel-cell {
	width:10%;
	margin-right: 20px;
	text-align: center;
}
@media screen and ( max-width: 768px ) {
  .glxpTeam .carousel-cell {
	width:50%;
	margin-right: 30px;
	text-align: center;
}
}
.glxpTeam .carousel-cell .inner {
	margin: 0 auto;
}
.glxpTeam .carousel-cell img {
}
.glxpTeam h3 {
	font-size: 130%;
}
.glxpTeam h3 span {
	font-size: 70%;
}
.glxpTeam ul {
	padding: 0px;
	border-top: 1px solid rgba(255,255,255,0.5);
	padding-top:10px;
    display: none;
}
.glxpTeam ul li {
	list-style-position: inside;
	padding: 0;
	text-align: left;
	margin-bottom: 5px;
}
.glxpTeam .flickity-viewport {
    min-height: 10px;
}
.glxpTeam div {
    margin-bottom: 15px;
}

/*---milestone prize---*/
#mission .mile {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/mission/prize_bg.jpg"); 
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
	color:#fff;
}
.enPage #mission .mile {
    text-align: left;
}

/*--------------------------------------
    4.technology
--------------------------------------*/
#technology  {
	background-color: #000;
	color:#fff;
}
#technology .technology h2 {
	margin-bottom: 80px;
}
.enPage #technology .technology p{
    text-align: left;
    max-width: 640px;
    margin: 0 auto;
}
#technology .pfm3 {
	padding-top: 0px;
}
#technology .roverTechnology {
	text-align: left;
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/technology/carbon_bg.png"); 
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}
#technology .roverTechnology p {
	font-size: 1em;
}
#technology .roverTechnology .row {
	margin-bottom: 40px;
}
#technology .roverStyle {
	text-align: left;
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/technology/pfm3-1.jpg"); 
	background-size: contain;
	background-repeat: no-repeat; 
	background-position: center center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
	height:500px;
}


/*--------------------------------------
    5.history
--------------------------------------*/
#history  {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/history/history_bg.png"); 
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
	overflow: hidden;
}
#history .description {
	color:#333;
}

#history .timeLine section {
	border:none;
	padding:20px 0;
}
#history .timeLine h3 span {
	border: 4px solid #333;
	padding:5px;
	display: inline;
	color:#333;
}

/*--------------------------------------
	6.team
--------------------------------------*/
#team .team {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/team/team_bg.gif"); 
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}
#team .team h2 {
	margin-bottom: 40px;
}
#team .memberList div {
	margin-bottom: 20px;
}
#team .special h2 {
	margin-bottom: 50px;
}
#team .memberList h3 {
	font-size: 1.1em;
	margin: 10px 0;
}
#team .activity {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/banner_bg.png") no-repeat #ffffff; 
	background-size: contain; 
	background-position: center top;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}
#team .activity div {
	margin-bottom: 30px;
}
#team .activity h2 {
	margin-bottom: 50px;
}
#team .activity h3 {
	font-size: 1em;
	font-weight: bold;
	margin: 6px 0 5px 0;
}
#team .activity p {
	font-size: 1em;
	text-align: left;
	line-height: 1.55em
} 
/*--------------------------------------
    7.partner
--------------------------------------*/
#partner .description {
	color:#333;
	margin-bottom: 60px;
}
#partner .partner-list {
	text-align: left;
}
#partner .partner-list img {
	margin-bottom: 10px;
}
#partner .partner-list p {
	font-size: 1em;
}
#partner .partner-list a {
	padding:3px 10px;
	border: 1px solid #dedede;
	color:#333;
	text-decoration: none;
}
#partner .partner-list a:hover {
	background: #333;
	color: #fff;
}
#partner .partner-list .container .row {
	margin-bottom: 50px;
}
#partner .partner-list .p1 {
	margin-bottom: 80px !important;
}
#partner .partner-list .p1 h3,
#partner .partner-list .p2 h3 {
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 30px;
}
#partner .partner-list h3 {
	text-align: center;
	margin-bottom: 30px;
    margin-top:70px;
}
#partner .partner-list .p3 h3:before,
#partner .partner-list .p3 h3:after {
	content: '';
	display: inline-block;
	width:100px;
	height:1px;
	margin: 0 20px;
	background-color: #000;
	vertical-align: middle;
}
@media screen and ( max-width: 768px ) {
	#partner .partner-list .p3 h3:before,
	#partner .partner-list .p3 h3:after {
		display: block;
		width:90%;
		margin: 10px auto;
	}
}
#partner .p1 p {
	margin-top: 20px;
	padding:0 3%;
}
#partner .p1 a {
	margin-left: 3%;
}
#partner .p3 > div {
	margin-bottom: 20px;
}
#partner .p3 img {
	max-width: 80%;
}
@media screen and ( max-width: 768px ) {
	#partner .p1 p {
	margin-top: 20px;
	padding:0;
	}
	#partner .p1 a {
		margin-left: 0;
	}
	#partner .p2 img {
		width:90%;
		margin-bottom: 0px;
	}
    #partner .p3 img {
        cursor: pointer;
    }
}

/*--------------------------------------
	8.support
--------------------------------------*/
#support .support {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/support/support_cover_bg.png") no-repeat #ffffff; 
	background-size: contain; 
	background-position: center top;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}
#support .support .hscTitle {
	margin-top: 50px;
	margin-bottom: 20px;
}
#support .support .description {
	color:#333;
	max-width: 650px;
	text-align: left;
	margin: 0 auto;
	font-size: 1em;
}

#support .support .supportersBtn {
    margin-top: 20px;
    line-height: 1.1em;
}

#support .supportersBtn a {
	background-color: #337ab7;
	color:#fff;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: .9em;
	text-align: center;
	text-decoration: none;
}
#support .supportersBtn a:hover {
	color:#ffffff;
	background-color:#4082E8; 
}

#support .special {
	font-size: 1em;
	text-align: center;
}
#support .special h3,
#support .flow h3 {
	text-align: center;
	font-size:2em !important;
	font-weight: bold;
	position: relative;
	font-size:4rem;
	font-weight: 900;
	letter-spacing: .12em;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 40px;
}
#support .special .row div,
#support .flow .row {
	text-align: left;
	margin-bottom: 50px;
}
#support .special h3:after,
#support .flow h3:after {
	content:'';
	position: absolute;
	right:0;
	bottom:0;
	left:0;
	border-bottom: 6px solid #333;
}
#support .special h4 {
	
}
#support .special p,
#support .flow p {
	font-size: 1em;
}
#support table td,
#support table th, {
	text-align: center;
}
#support table tr+th {
	text-align: left;
	width:8em;
}
#support .flow {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/bg/banner_bg.png") no-repeat #ffffff; 
	background-size: cover;
	background-repeat: repeat; 
	background-position: center top;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}

#support .joinBtn a {
	background-color: #CB282E;
	color:#fff;
	padding: 40px 0;
	display: block;
	border-radius: 3px;
	font-size: 1.5em;
	text-align: center;
	text-decoration: none;
}
#support .joinBtn a:hover {
	color:#fff;
	background-color:#D86C74; 
}
#support .storeBtn a {
	padding:20px;
}

/*--------------------------------------
	9.supporters board
--------------------------------------*/
#supporters .supporters {
	background: url("http://hakuto-web-v3.s3.amazonaws.com/img/support/support_cover_bg.png") no-repeat #ffffff; 
	background-size: contain; 
	background-position: center top;
	background-attachment: fixed;
    background-repeat: no-repeat;
	overflow: hidden;
}
#supporters .supporters .notice {
	font-size: .9em;
	line-height: 1.4em;
}

.name-list,
.name-list li {
	list-style: none;
	padding:0;
}
.name-list {
	clear: both;
	margin-bottom: 50px;
	overflow: hidden;
}
.name-list  {

}
.name-list li {
	box-sizing: border-box;
	width:25%;
	float:left;
	padding:3px;
	border:2px solid #fff;
	background-color: #f2f2f2;
	font-size: 95%;
}
@media screen and ( max-width: 768px ) {
		.name-list li {
			width:100%;
		}
	}
.name-list li.long-name {
	font-size:85%;
}
.name-list li.next-name {
	color: #fff;
	background-color:  #cb282e;
}
.name-list li.next-name a {
	color:#cb282e;
	background-color: #fff;
	font-weight: bold;
	display: block;
	padding-left: 3px;
}
.name-list li.next-name a:hover {
	background-color: #cb282e;
	color: #fff;
}
.name-list li span {
	font-size: 12px;
}
.name-list li.current {
	background-color: #cb282e;
	color:#fff;
}
.name-search {
	margin-bottom:20px;
	margin-top: 20px;
}

/*--------------------------------------
	10.contact
--------------------------------------*/

#contact .description {
	color:#333;
}
#contact textarea {  
    resize: none;  
} 

/*--------------------------------------
	11.module
--------------------------------------*/

/*-- hover.css --*/
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}

/*-- tablet collapse --*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}


/*---404---*/
.page404 {
	margin-top: 200px;
}
.page404 p {
	margin-bottom: 200px;
}


/*--------------------------------------
	13.archive
--------------------------------------*/
article {
	border-bottom: 6px solid #000;
	padding-bottom: 50px;
}
article .pr-post {
    padding-top: 30px;
}
article .pr-header {
	margin-top: 40px;
	margin-bottom: 45px;
}
article .pr-header img {
	margin: 0 !important;
}
article .pr-header .text-right img {
	margin-bottom: 8px;
}
article ul {
    list-style: none;
}
article h1 {
	margin:0 0 30px;
	letter-spacing: 1px;
	font-size: 1.6em;
	text-align: center;
	line-height: 1.6em;
	margin-bottom: 10px;
}
article h1::before,
article h1::after {
	content:'';
	display: block;
	width:100%;
	height:3px;
	margin: 20px auto;
	background-color: #333;
	vertical-align: middle;
}
article h2 {
    font-size: 1.7em;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.65em;
    text-align: center;
}
article h3 {
    margin: 40px 0 20px 0;
    text-align: left;
    font-size: 1.7em;
    line-height: 1.65em;
}
article h4 {
	font-weight: bold;
    line-height: 1.65em;
    margin-bottom: 0px;
    margin-top: 10px;
}
article h4 span {
	font-size: .95em;
	font-weight: normal;
}
article div.contactFrame {
	border:1px solid #333;
	padding:2em;
}
article div.contactFrame p{
	margin:0 0 10px 0;
}
article p.photo-caption {
	margin-top:5px;
	font-size: 1em;
	color:#333;
}
article em {
	font-style: normal;
	color:#666;
}
.articleHeader {
	background-color: #dedede;
	padding:100px 0 60px 0;
	margin-bottom: 50px;
}
.articleHeader p {
	text-align: center;
	font-size:1em;
	color: #666;
}
article .main {
	font-size: 0.95em;
	line-height: 1.7em;
}
article .main p {
	margin-bottom: 1.5em;
}
article .main .alert {
	margin-top: 40px;
	margin-bottom: 10px;
	padding:3px;
	font-size: 0.9em;
}
article#category {
	padding-top:60px;
}
article#category h4 {
	font-size: 15px;
	line-height: 1.5em;
}
#side section {
	padding:20px 0;
	border: none;
}
#side h3 {
	text-align: left;
	border-bottom: 3px solid #333;
	font-size: 1.5em;
	padding-bottom: 5px;
}
#side ul li {
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px dotted #dedede;
	text-align: left;
}
#side ul li a {
	display: block;
	text-decoration: none;
	padding:8px 6px;
}
#side ul li a:hover {
	background-color: #337ab7;
	color:#ffffff;
}



